.Hamburger {
  padding: 15px 0px;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.Hamburger span {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.Hamburger:hover {
  opacity: 0.7;
}
.Hamburger.IsActive:hover {
  opacity: 0.7;
}
.Hamburger.IsActive .Hamburgerinner,
.Hamburger.IsActive .Hamburgerinner::before,
.Hamburger.IsActive .Hamburgerinner::after {
  background-color: #000;
}

.Hamburgerbox {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.Hamburgerinner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.Hamburgerinner,
.Hamburgerinner::before,
.Hamburgerinner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.Hamburgerinner::before,
.Hamburgerinner::after {
  content: "";
  display: block;
}
.Hamburgerinner::before {
  top: -10px;
}
.Hamburgerinner::after {
  bottom: -10px;
}

/*
   * 3DX
   */

/*
   * Spin
   */
.Hamburgerspin .Hamburgerinner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.Hamburgerspin .Hamburgerinner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.Hamburgerspin .Hamburgerinner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.Hamburgerspin.IsActive .Hamburgerinner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Hamburgerspin.IsActive .Hamburgerinner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.Hamburgerspin.IsActive .Hamburgerinner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
   * Spin Reverse
   */
.Hamburger--spin-r .Hamburgerinner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.Hamburger--spin-r .Hamburgerinner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.Hamburger--spin-r .Hamburgerinner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.Hamburger--spin-r.IsActive .Hamburgerinner {
  transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.Hamburger--spin-r.IsActive .Hamburgerinner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.Hamburger--spin-r.IsActive .Hamburgerinner::after {
  bottom: 0;
  transform: rotate(90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (max-width: 499px) {
  .Hamburger {
    display: inline-block;
  }
}
